/* body */
body {
    margin: 0 auto;
    font-family: sans-serif;
    /* user-select: none; /* Отключает выделение текста */
    /* -webkit-user-select: none; /* Для браузеров на основе WebKit */
    /* -ms-user-select: none; /* Для старых версий Internet Explorer */
    /* min-height: 100vh; /* Убедимся, что высота страницы занимает весь экран */
    /* cursor: url('../image/00000010\ Cursor\ default\ export\ plain\ 96\ DPI\ 32x32.svg'), auto; */
}
.body-font-other {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
/* ---------- */
/* flex */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-item {
    flex: 1;
    flex-basis: 100%;
    min-width: 10%;
    height: 100vh;
    border: 1px solid rgb(0, 0, 0);
}
/* ---------- */
/* welcome */
.welcome {
    position: relative;
    top: 25%;
    left: 15%;
    width: 800px;
}
.welcome-line-vertical {
    width: 140px;
    height: 0px;
    border: 1px solid #FF7700;
    box-shadow: 15px -15px 1.8px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}
.welcome-line-horisontal {
    width: 489px;
    height: 0px;
    border: 1px solid #FF7700;
    box-shadow: 15px 15px 1.8px rgba(0, 0, 0, 0.25);
}
.welcome h1 {
    margin: 0;
    position: absolute;
    width: 697px;
    height: 116px;
    transform: translateY(4%);
    left: 7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;
    color: #FF7700;
    text-shadow: 15px 15px 1.8px rgba(0, 0, 0, 0.25);
}
/* ---------- */
/* scroll */
.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.scroll-item {
    scroll-snap-align: start;
    height: 100vh;
}