body {
    font-family: Aileron, Arial, Helvetica, sans-serif;
    background-color: #eeede9;
    user-select: none; /* Отключает выделение текста */
    -webkit-user-select: none; /* Для браузеров на основе WebKit */
    -ms-user-select: none; /* Для старых версий Internet Explorer */
}
/* Main */
.div-main {
    margin: auto;
    width: 720px; /* Max width for main div */
}

.div-top {
    display: flex;
    gap: 10px;
}

.div-top-item {
    height: 100px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
/* ---------- */
/* Welcome */
#div-with-welcome {
    background-color: #e3e2dd;
    animation-name: circle-to-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
/* ---------- */
/* GitHub */
#div-with-github {
    background-color: #282827;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.link-github {
    color: rgb(227 226 221); /* Color before for link */
}

.link-github:hover {
    color: rgb(227 226 221); /* Color after for link */
}
/* ---------- */
/* Linkedin */
#div-with-linkedin {
    background-color: #a5a4a0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
/* ---------- */
/* HH */
#div-with-hh {
    background-color: #eeede9;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
/* Body div left and right */
.div-body {
    display: flex;
}

.div-body-left {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 700px;
    text-align: right;
}

.div-body-right {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 700px;
}
/* ---------- */
/* Bottom div */
.div-bottom {
    display: flex;
    gap: 10px;
}

.div-bottom-item {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
/* ---------- */
/* Animation */
@keyframes circle-to-square {
    from {
        height: 45px;
        background-color: #F498AD;
    }
    50% {
        height: 100px;
        background-color: #7F6EDB;
    }
    to {
        height: 150px;
        background-color: #2E9AFF;
    }
}
/* ---------- */