body {
    font-family: Aileron, Arial, Helvetica, sans-serif;
    background-color: #eeede9;
    user-select: none; /* Отключает выделение текста */
    -webkit-user-select: none; /* Для браузеров на основе WebKit */
    -ms-user-select: none; /* Для старых версий Internet Explorer */
    min-height: 100vh; /* Убедимся, что высота страницы занимает весь экран */
    margin: 0;
}
/* Main */
.div-main {
    margin: auto;
    width: 720px; /* Max width for main div */
}

.div-top {
    display: flex;
    gap: 10px;
}

.div-top-item {
    height: 100px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
/* ---------- */
/* Welcome */
#div-with-portfolio {
    background-color: #e3e2dd;
    animation-name: circle-to-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
/* ---------- */
/* GitHub */
#div-with-github {
    background-color: #282827;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.link-github {
    color: rgb(227 226 221); /* Color before for link */
}

.link-github:hover {
    color: rgb(227 226 221); /* Color after for link */
}
/* ---------- */
/* Linkedin */
#div-with-linkedin {
    background-color: #a5a4a0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
/* ---------- */
/* HH */
#div-with-hh {
    background-color: #eeede9;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
/* ---------- */
/* Background text */
.div-body-background-text-portfolio {
    position: absolute; /* Позволяет управлять расположением */
    padding: 10px;
    color: #eeede9;
    top: 121px;
    left: 406px;
    width: 10px;
    height: 17px;
    font-size: 18px;
}
.div-body-background-text {
    position: absolute; /* Позволяет управлять расположением */
    padding: 10px;
    color:#eeede9;
    top: 122px;
    left: 487px;
    width: 10px;
    height: 17px;
    z-index: -1; /* Перемещает на задний фон */
    animation-name: circle-to-square-for-div-body-background-text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.div-bottom-background-text {
    position: absolute; /* Позволяет управлять расположением */
    top: 864px;
    left: 492px;
    width: 10px;
    height: 10px;
    background-color: #080bdf;
    z-index: -1; /* Перемещает на задний фон */
}
/* ---------- */
/* Body div left and right */
.div-body {
    display: flex;
    position: relative;
}

.div-body-left {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 710px;
    text-align: right;
}

.div-body-right {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 710px;
}
/* ---------- */
/* Bottom div */
.div-bottom {
    display: flex;
    gap: 10px;
    height: 50px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.div-bottom-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: justify;
    height: 50px;
}
/* ---------- */
/* Animation */
@keyframes circle-to-square {
    from {
        height: 45px;
        background-color: #F498AD;
    }
    50% {
        height: 100px;
        background-color: #7F6EDB;
    }
    to {
        height: 150px;
        background-color: #2E9AFF;
    }
}

@keyframes circle-to-square-for-div-body-background-text {
    from {
        width: 10;
        background-color: #F498AD;
    }
    50% {
        width: 528px;
        background-color: #7F6EDB;
    }
    to {
        width: 528px;
        background-color: #2E9AFF;
    }
}
/* ---------- */